@import '../../../variabili.scss';

#portfolioCard {
	width: 100%;
	height: 328px;
	background: rgba(0, 0, 0, 0);
	position: relative;
	margin-top: 0.3%;
	
	margin-bottom: 0.7%;

	
	// &:hover {
	//     margin-top: -10px;
	//     margin-left: -10px;
	// }
	&:before {
		position: absolute;
		top: 10.5px;
		left: 99.5%;
		width: 100%;
		height: 100%;
		content: '';
		transform: skewY(45deg);
		transform-origin: 0 0;
	}

	&:after {
		position: absolute;
		top: 90%;
		left: 16px;
		width: 100%;
		height: 150%;
		content: '';
		transform: skewX(45deg);
		transform-origin: 0 0;
	}

	.carta_container {
		width: 100%;
		// altezza card
		height: 297px;
		
		position: relative;

		.carta {
			--notchSize: 18px;
			--null: 0px;
			/* from https://css-tricks.com/notched-boxes/ */
			clip-path:
                /* Notched Boxes or Notched Module */ polygon(
				0% var(--notchSize),
				/* top left */ var(--null) 0%,
				/* top left */ calc(100% - var(--notchSize)) 0%,
				/* top right */ 100% var(--notchSize),
				/* top right */ 100% calc(100% - var(--notchSize)),
				/* bottom right */ calc(100% - var(--null)) 100%,
				/* bottom right */ var(--notchSize) 100%,
				/* bottom left */ 0% calc(100% - var(--notchSize)) /* bottom left */
			);
		}

		a.carta {
			// margini card
			width: 100%;
			height: 100%;
			padding: 1.7vw 2.5vw;
			position: absolute;
			background-color: $white;
			text-decoration: none;
            display: flex;


            img {
                height: 100%;
                margin-right: 10px;
			}
			/* z-index: 2000; */
			.flex {
				// ricorda è in commons.scss
                flex-direction: column;
				h3 {
					font-family: $font-titolo;
					font-size: $card_title;
					line-height: $line-height-card;
					margin-bottom: 5%;
					
				}
                p {
                    color: $gray;
                    font-size: $card_paragraph;
                    line-height: $line-height-card_paragraph;
                    
                    text-align: justify;
                    
                }
			}
            span {
				// button card
				padding-top: 0.8%;
				padding-right: 3.7%;
				padding-bottom: 0.8%;
				padding-left: 4.7%;
				color: $white;
				position: absolute;
				bottom: 2vw;
				
				right: 2.5vw;
				
				/* z-index: 0; */
			}
		}
	}
}
#portfolioCard.full_gray:before,
#portfolioCard.full_gray:after {
	background: $gray;
}

#portfolioCard.full_gray,
#portfolioCard.full_gray {
	h3 {
		color: $gray;
	}

	span {
		background-color: $gray;
	}
}

#portfolioCard.individuals_el_green:before,
#portfolioCard.individuals_el_green:after {
	background: $light-green;
}

#portfolioCard.individuals_el_green,
#portfolioCard.individuals_el_green {
	h3 {
		color: $light-green;
	}

	span {
		background-color: $light-green;
	}
}

#portfolioCard.companies_green:before,
#portfolioCard.companies_green:after {
	background: $green;
}

#portfolioCard.companies_green,
#portfolioCard.companies_green {
	h3 {
		color: $green;
	}

	span {
		background-color: $green;
	}
}

#portfolioCard.design_dk_green:before,
#portfolioCard.design_dk_green:after {
	background: $dark-green;
}

#portfolioCard.design_dk_green,
#portfolioCard.design_dk_green {
	h3 {
		color: $dark-green;
	}

	span {
		background-color: $dark-green;
	}
}

#portfolioCard.continuous_yellow:before,
#portfolioCard.continuous_yellow:after {
	background: $yellow;
}

#portfolioCard.continuous_yellow,
#portfolioCard.continuous_yellow {
	h3 {
		color: $yellow;
	}

	span {
		background-color: $yellow;
	}
}

#portfolioCard.content_orange:before,
#portfolioCard.content_orange:after {
	background: $orange;
}

#portfolioCard.content_orange,
#portfolioCard.content_orange {
	h3 {
		color: $orange;
	}

	span {
		background-color: $orange;
	}
}

#portfolioCard.marketing_red:before,
#portfolioCard.marketing_red:after {
	background: $red;
}

#portfolioCard.marketing_red,
#portfolioCard.marketing_red {
	h3 {
		color: $red;
	}

	span {
		background-color: $red;
	}
}
