@import './src/variabili.scss';

#contacts {
  background-color: $green;
  color: $white;
  padding: 47px 0 0px 0; /*fix*/
  position: relative; //per l'anchor link
  .container-custom {
      .intestazione {
          justify-content: space-between;
          align-items: center;
          margin-bottom: 44px; /*fix*/
          h2 {
              // scritta NEED MORE... e margini
                min-width: 625px;
                font-size: 23.5px;
                font-weight: normal;
                letter-spacing: 0.1em;
                margin-right: 27px;
          }
          hr {
              // line
              width: 100%;
              background-color: $white;
              margin: 0;
          }
          img {
              // 5 slash dx
              height: 21px; /*fix*/
              margin-left: 40px; /*fix*/
          }
      }
      


      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .sinistra {
          width: calc(33.3333333333% - 5px);
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .pippo{
              position: relative;
              label{
                  color: $gray;
                  text-transform: uppercase;
                  font-weight: 600;
                  position: absolute;
                  top: -30%;
                  left: 1vw;
                  font-size: 12px;
              }
              input {
                  display: block;
                  height: 40px;
                  max-width: 100%;
                  min-width: 100%;
                  padding: calc(0.75em - 1px);
                  resize: vertical;
                  border: 0px solid #E9F3F4;
              }
          }
        }
        .corpo-email {
          width: calc(66.6666666667% - 15px);
          position: relative;
            label{
                color: $gray;
                text-transform: uppercase;
                font-weight: 600;
                position: absolute;
                top: -5%;
                left: 2vw;
                font-size: 12px;
            }
            textarea {
                display: block;
                max-width: 100%;
                min-width: 100%;
                padding: calc(0.75em - 1px);
                resize: vertical;
                height: 185px;
                border: 0px solid #E9F3F4;
            }
        }
        .sotto {
          width: 100%;
          margin-top: 35px;
          .privacy {
            display: flex;
            flex-wrap: nowrap;
            margin-top: 13px;
            margin-bottom: 22px;
          }
          input[type=submit] {
            background-color: $gray;
            text-decoration: none;
            color: $green;
            padding: 12px 20px;
            border: none;
            cursor: pointer;
            font-family: $font-body;
        }
        }
      }

      .more-contacts {
          font-size: $paragrafi_sezioni;
          padding: 30px 0;
          span {
              font-size: $paragrafi_sezioni;
              color: $gray;
              margin-left: 4px;
          }
      }
  }
}


@media all and (max-width: 1024px) {
  #contacts {
      .container-custom {
          .intestazione {
              h2 {
                  margin-right: 3vw; /*fix*/
              }
              img {
                  margin-left: 4.5vw; /*fix*/
              }
          }
          .inputs {
              flex-wrap: wrap;
              .sinistra {
                  width: 100%;
                  margin-right: 0;
              }
              .corpo-email {
                  margin-top: 30px;
                  width: 100%;
              }
          }
          .more-contacts {
              font-size: $paragrafi_sezioni_S;
              span {
                  font-size: $paragrafi_sezioni_S;
              }
          }
      }
  }
}

@media all and (max-width: 768px) {
  #contacts {
      .container-custom {
          .intestazione {
              h2 {
                  min-width: 50px;
                  margin-right: 0px;
              }
              hr {
                  width: 0;
              }
              img {
                  width: 0;
              }
            }
            form{
                flex-direction: column;
                .sinistra{
                    width: 100%;
                    padding-right: 0;
                    .pippo{
                        input{
                            margin: 15px 0;
                        }
                        label{
                            top: 5%;
                            left: 2vw;
                        }
                        
                    }
                }
                .corpo-email{
                    width: 100%;
                    margin: 15px 0;
                    padding-left: 0;
                }
                .sotto{
                    margin-top: 15px;
                }
            }
      }
  }
}

@media all and (max-width: 480px) {
  #contacts {
      .container-custom {
          .intestazione {
              h2 {
                  min-width: 50px;
                  margin-right: 0px;
              }
              hr {
                  width: 0;
              }
              img {
                  width: 0;
              }
          }
      }
  }
}
