@import './src/variabili.scss';

#services {
  background-color: $green;
  color: $white;
  padding: 47px 0 32px 0; /*fix*/
  position: relative; //per l'anchor link
  overflow: hidden;
  .container-custom {
      .riga {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          .col-md-8 {
              // leva padding
              padding-left: 0; /*fix*/
              padding-right: 15px; /*fix*/
              width: calc(100vw/3*2 - 70px);
              .intestazione {
                  // margini titolo sezione
                  justify-content: space-between;
                  align-items: center;
                  margin-bottom: 42px; /*fix*/
                  h2 {
                      // scritta SERVICES e margini
                      font-size: $titoli_sezioni;
                      letter-spacing: $letter-spacing;
                      margin-right: 40px; /*fix*/
                  }
                  hr {
                      // line
                      width: 100%;
                      background-color: $white;
                      margin: 0;
                  }
                  img {
                      // 5 slash dx
                      height: 21px; /*fix*/
                      margin-left: 40px; /*fix*/
                  }
              }
              p {
                  column-count: 2; /*fix*/
                  column-gap: 40px; /*fix*/
                  // font sezione
                  font-size: $paragrafi_sezioni; /*fix*/
                  line-height: 24px; /*fix*/
                  text-align: justify;
                  // margin-bottom: 36px;
              }
          }
          .trasparente {
              width: calc(100% / 3 - 2%);
              height: 328px;
              background: rgba(0,0,0,0);
              position: relative;
              margin-top: 0.3%; /*fix*/
              margin-bottom: 0.7%; /*fix*/
              // &:hover {
              //     margin-top: -10px;
              //     margin-left: -10px;
              // }
              &:before {
                  position: absolute;
                  top: 9px;
                  left: 98%;
                  width: 100%;
                  height: 100%;
                  content: '';
                  transform: skewY(45deg);
                  transform-origin: 0 0;
              }
              &:after {
                  position: absolute;
                  top: 90%;
                  left: 15px;
                  width: 100%;
                  height: 150%;
                  content: '';
                  transform: skewX(45deg);
                  transform-origin: 0 0;
              }
              .carta_container {
                  width:100%;
                  // altezza card
                  height: 297px; /*fix*/
                  position: relative;
                  .carta {
                      --notchSize: 18px;
                      --null: 0px;                     /* from https://css-tricks.com/notched-boxes/ */
                      clip-path:                              /* Notched Boxes or Notched Module */
                      polygon(
                      0% var(--notchSize),                /* top left */
                      var(--null) 0%,                /* top left */
                      calc(100% - var(--notchSize)) 0%,   /* top right */
                      100% var(--notchSize),              /* top right */
                      100% calc(100% - var(--notchSize)), /* bottom right */
                      calc(100% - var(--null)) 100%, /* bottom right */
                      var(--notchSize) 100%,              /* bottom left */
                      0% calc(100% - var(--notchSize))    /* bottom left */
                      );
                  }
                  a * {
                      cursor: pointer;
                  }
                  a.carta {
                      // margini card
                      width: 100%;
                      height: 100%;
                      padding: 1.7vw 2.5vw; /*fix*/
                      position: absolute;
                      background-color: $white;
                      text-decoration: none;
                      /* z-index: 2000; */
                      .flex { // ricorda è in commons.scss
                          img {
                              width: 17px;
                              height: 17px;
                              margin-right: 10px;
                          }
                          h3 {
                              font-family: $font-titolo;
                              font-size: $card_title;
                              line-height: $line-height-card;
                              margin-bottom: 5%; /*fix*/
                          }
                      }
                      p {
                          color: $gray;
                          font-size: $card_paragraph;
                          line-height: $line-height-card_paragraph; /*fix*/
                          text-align: justify; /*fix*/
                      }
                      span {
                          // button card
                          padding-top: 0.8%;
                          padding-right: 3.7%;
                          padding-bottom: 0.8%;
                          padding-left: 4.7%;
                          color: $white;
                          position: absolute;
                          bottom: 2vw; /*fix*/
                          right: 2.5vw; /*fix*/
                          /* z-index: 0; */
                      }
                  }
              }
          }

          .trasparente.full_gray:before, .trasparente.full_gray:after {
              background: $gray;
          }
          .trasparente.full_gray, .trasparente.full_gray {
              img {background-color: $gray;}
              h3 {color: $gray;}
              span {background-color: $gray;}
          }

          .trasparente.individuals_el_green:before, .trasparente.individuals_el_green:after {
              background: $light-green;
          }
          .trasparente.individuals_el_green, .trasparente.individuals_el_green {
              img {background-color: $light-green;}
              h3 {color: $light-green;}
              span {background-color: $light-green;}
          }

          .trasparente.companies_green:before, .trasparente.companies_green:after {
              background: $green;
          }
          .trasparente.companies_green, .trasparente.companies_green {
              img {background-color: $green;}
              h3 {color: $green;}
              span {background-color: $green;}
          }

          .trasparente.design_dk_green:before, .trasparente.design_dk_green:after {
              background: $dark-green;
          }
          .trasparente.design_dk_green, .trasparente.design_dk_green {
              img {background-color: $dark-green;}
              h3 {color: $dark-green;}
              span {background-color: $dark-green;}
          }

          .trasparente.continuous_yellow:before, .trasparente.continuous_yellow:after {
              background: $yellow;
          }
          .trasparente.continuous_yellow, .trasparente.continuous_yellow {
              img {background-color: $yellow;}
              h3 {color: $yellow;}
              span {background-color: $yellow;}
          }

          .trasparente.content_orange:before, .trasparente.content_orange:after {
              background: $orange;
          }
          .trasparente.content_orange, .trasparente.content_orange {
              img {background-color: $orange;}
              h3 {color: $orange;}
              span {background-color: $orange;}
          }

          .trasparente.marketing_red:before, .trasparente.marketing_red:after {
              background: $red;
          }
          .trasparente.marketing_red, .trasparente.marketing_red {
              img {background-color: $red;}
              h3 {color: $red;}
              span {background-color: $red;}
          }
      }
  }
}



@media all and (max-width: 1024px) {
  #services {
      .container-custom {
          .riga {
              .col-md-8 {
                  // meno padding
                  padding-right: 8px; /*fix*/
                  p {
                      column-count: 2; /*fix*/
                      column-gap: 25px; /*fix*/
                      // font sezione
                      font-size: $paragrafi_sezioni_S; /*fix*/
                      line-height: 24px; /*fix*/
                      margin-bottom: 34px; /*fix*/
                  }
              }
              .trasparente {
                  height: 360px; /*fix*/
                  margin-bottom: 4.5%; /*fix*/
                  &:after {
                      top: 96%;
                      left: 3px;
                  }
                  .carta_container {
                      height: 360px; /*fix*/
                      a.carta {
                          padding: 2.5vw 2.5vw; /*fix*/
                          .flex { // ricorda è in commons.scss
                              img {
                                  width: 14px; /*fix*/
                                  height: 14px; /*fix*/
                                  margin-right: 10px;
                              }
                              h3 {
                                  font-size: 17px; /*fix*/
                                  line-height: 18px; /*fix*/
                                  margin-bottom: 4.5%; /*fix*/
                              }
                          }
                          p {
                              font-size: 13px; /*fix*/
                          }
                          span {
                              // button card
                              bottom: 3vw; /*fix*/
                              right: 3.5vw; /*fix*/
                          }
                      }
                  }
              }
          }
      }
  }
}

@media all and (max-width: 767px) { // ERRORE!!! sistemato da cani da me
  #services {
      .container-custom {
          .riga {
              flex-wrap: wrap;
              .col-md-8 {
                  // leva padding
                  padding-right: 0px; /*fix*/
                  width: 100%;
                  p {
                      column-count: 1; /*fix*/
                  }
              }
              .trasparente {
                  width: 100%;
                  height: 224px; /*fix*/
                  margin-bottom: 6%; /*fix*/
                  &:before {
                      top: 14px;
                      left: 99%;
                  }
                  &:after {
                      left: 7px;
                  }
                  .carta_container {
                      width: 100%;
                      height: 224px; /*fix*/
                      a.carta {
                          padding: 3vw 3.5vw; /*fix*/
                      }
                  }
              }
          }
      }
  }
}

@media all and (max-width: 480px) {
  #services {
      .container-custom {
          .riga {
              .col-md-8 {
                  // leva padding
                  padding-right: 0px; /*fix*/
              }
              .trasparente {
                  width: 100%;
                  height: 224px; /*fix*/
                  margin-bottom: 6%; /*fix*/
                  &:before {
                      top: 8px;
                      left: 97%;
                  }
                  &:after {
                      left: 8px;
                  }
                  .carta_container {
                      width: 100%;
                      height: 224px; /*fix*/
                      margin-bottom: 6%; /*fix*/
                      a.carta {
                          padding: 4vw 6vw; /*fix*/
                          .flex { // ricorda è in commons.scss
                              h3 {
                                  font-size: 15.5px; /*fix*/
                                  line-height: 16px; /*fix*/
                                  margin-bottom: 3.5%; /*fix*/
                              }
                          }
                          p {
                              font-size: 13px; /*fix*/
                              line-height: 16px; /*fix*/
                          }
                          span {
                              // button card
                              bottom: 4.5vw; /*fix*/
                              right: 6vw; /*fix*/
                          }
                      }
                  }
              }
          }
      }
  }
}
