@import './src/variabili.scss';

#projects {
  background-color: $white;
  color: $green;
  // margini top bottom intera sezione projects
  padding: 47px 0 36px 0; /*fix*/
  position: relative; //per l'anchor link
  .container-custom {
      display: flex;
      flex-direction: column;
      .intestazione {
          justify-content: space-between;
          h2 {
              // scritta PROJECT e margini
              min-width: 138px;
              font-size: $titoli_sezioni; /*fix*/
              letter-spacing: $letter-spacing;
              margin-right: 42px; /*fix*/
              margin-bottom: 44px; /*fix*/
          }
          hr {
              // line
              width: 100%;
              background-color: $green;
              margin: 12px 0; /*fix*/
          }
          img {
              // 5 slash dx
              height: 21px; /*fix*/
              margin-top: 3px; /*fix*/
              margin-left: 40px; /*fix*/
          }
      }
      
      
      .slider {
        display: flex;
        flex-direction: column;
        position: relative;
        /* padding: 0 10vw 0 10vw; */
        .slider-text{
          p{
            font-size: $paragrafi_sezioni;
            text-transform: capitalize;
          }
        }
        .slide {
          width: 100%;
          height: 100%;
          display: none;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        
        .active {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      }
      .arrows {
        display: flex;
        justify-content: space-between;
        opacity: 0.2;
        width: 100%;
        height: 100%;
        position: absolute;
        .arrow {
          background-color: $white;
          i{
            font-size: 48px;
            color: $gray;
          }
        }
      }
      
      
      
      
      
      
      

      .discover {
          hr {
              // margini bottom line
              background-color: $green;
              width: 100%;
              margin: 58px 0 0 0; /*fix*/
          }
          a {
              // mod bottom button
              background-color: $green;
              color: $white;
              min-width: 146px; /*fix*/
              // padding: 10px 14px;
              padding-top: 12px; /*fix*/
              padding-right: 11px; /*fix*/
              padding-bottom: 12px; /*fix*/
              padding-left: 20px; /*fix*/
              margin-top: 35px; /*fix*/
              margin-left: 42px; /*fix*/
              text-decoration: none;
              cursor: pointer;
              &:hover {
                  // color: $red;
              }
          }
      }
  }
}

.pallini {
  height: 20px;
  width: 10px;
  border-radius: 5px;
  background: $white;
  margin: 0 5px;
  border: 1px solid $gray;
  &.color {
    background: $gray;
  }
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $green;
  z-index: 5;
}


@media all and (max-width: 1024px) {
  #projects {
      .container-custom {
          .slider {
              .b-carousel {
                  .image {
                      img {
                          // dimensioni immagine carousel
                          height: 35vh;
                      }
                  }
              }
          }
      }
  }
}

@media all and (max-width: 768px) {

}

@media all and (max-width: 480px) {

}
