@import './src/variabili.scss';

#projects {
	background-color: $white;
	color: $green;
	// margini top bottom intera sezione projects
	padding: 47px 0 36px 0;
	
	position: relative; //per l'anchor link

	.container-custom {
		display: flex;
		flex-direction: column;

		.intestazione {
			justify-content: space-between;

			h2 {
				// scritta PROJECT e margini
				min-width: 138px;
				font-size: $titoli_sezioni;
				
				letter-spacing: $letter-spacing;
				margin-right: 42px;
				
				margin-bottom: 44px;
				
			}

			hr {
				// line
				width: 100%;
				background-color: $green;
				margin: 12px 0;
				
			}

			img {
				// 5 slash dx
				height: 21px;
				
				margin-top: 3px;
				
				margin-left: 40px;
				
			}
		}


		.slider {
			display: flex;
			flex-direction: column;
			position: relative;

			.slider-text {
				p {
					font-size: $paragrafi_sezioni;
					text-transform: capitalize;
					margin-bottom: 20px;
				}
			}

			.slide {
				height: 33vw;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;

				.carosello {
					max-height: 100%;
					max-width: 100%;
					object-fit: cover;
				}
			}
		}









		.discover {
			hr {
				// margini bottom line
				background-color: $green;
				width: 100%;
				margin: 58px 0 0 0;
				
			}

			.discover {
				// mod bottom button
				background-color: $green;
				color: $white;
				min-width: 146px;
				
				// padding: 10px 14px;
				padding-top: 12px;
				
				padding-right: 11px;
				
				padding-bottom: 12px;
				
				padding-left: 20px;
				
				margin-top: 35px;
				
				margin-left: 42px;
				
				text-decoration: none;
				cursor: pointer;
				/* &:hover {
                  // color: $red;
              } */
			}
		}
	}
}



.dots {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3px 20px;
	background-color: $green;
	z-index: 5;

	i {
		font-size: 60px;
		color: $gray;
		/* line-height: 7.5; */
	}

	.dot_container {
		display: flex;
		justify-content: center;

		.dot {
			height: 20px;
			width: 10px;
			border-radius: 5px;
			background: $white;
			margin: 0 5px;
			border: 1px solid $gray;

			&.active {
				background: $gray;
			}
		}
	}
}


@media all and (max-width: 1024px) {}

@media all and (max-width: 768px) {
	#projects {
		.container-custom {
			.slider {
				.slide {
					.arrows {
						.arrow {
							i {
								line-height: 6.5;
							}
						}
					}

					img {
						// dimensioni immagine carousel
						height: 45vh;
					}
				}
			}

			.dots {
				padding: 15px;
			}
		}
	}

}

@media all and (max-width: 480px) {
	#projects {
		.container-custom {
			.slider {
				.slide {
					.arrows {
						.arrow {
							i {
								line-height: 5;
							}
						}
					}

					img {
						// dimensioni immagine carousel
						height: 35vh;
					}
				}
			}

			.dots {
				padding: 10px;
			}
		}
	}

}