@import './src/variabili.scss';

#about_us {
   background-color: $test;
   color: $green;
   padding: 100px 0 52px 0;
   
   position: relative; //per l'anchor link
   min-height: 100vh;

   .container-custom {
      .intestazione {
         // margini titolo sezione
         justify-content: space-between;
         align-items: center;
         margin-bottom: 36px;

         
         h2 {
            // scritta ABOUT US e margini
            min-width: 147px;
            font-size: $titoli_sezioni;
            letter-spacing: $letter-spacing;
            margin-right: 40px;
            
            color: $gray;

         }

         hr {
            // line
            width: 100%;
            background-color: $green;
            margin: 0;
         }

         img {
            // 5 slash dx
            height: 21px;
            
            margin-left: 40px;
            
         }
      }

      p {
         // font sezione
         font-size: $paragrafi_sezioni;
         
         line-height: $line-height-paragrafi_ALL;
         
         // word-spacing per correggere gli spazi vuoti
         word-spacing: 2px;
         
         text-align: justify;
         margin-bottom: 42px;
         
         color: $gray;

      }

      .cards {
         // striscia verde sotto (cancellata)
         width: 100%;
         margin-top: 30px;
         background-color: $green;
         padding-bottom: 35px;

         
         img {
            width: 100%;
         }

         .imgmobile {
            display: none;
         }
      }
   }
   color: $white;
   padding: 100px 0 32px 0;
   
   position: relative; //per l'anchor link
   overflow: hidden;

   .container-custom {
      .riga {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         margin-top: 35px;

         .col-md-8 {
            // leva padding
            padding-left: 0;
            
            padding-right: 15px;
            
            width: calc(100vw/3*2 - 70px);

            .intestazione {
               // margini titolo sezione
               justify-content: space-between;
               align-items: center;
               margin-bottom: 42px;

               
               h2 {
                  // scritta SERVICES e margini
                  font-size: $titoli_sezioni;
                  letter-spacing: $letter-spacing;
                  margin-right: 40px;
                  
               }

               hr {
                  // line
                  width: 100%;
                  background-color: $white;
                  margin: 0;
               }

               img {
                  // 5 slash dx
                  height: 21px;
                  
                  margin-left: 40px;
                  
               }
            }

            p {
               column-count: 2;
               
               column-gap: 40px;
               
               // font sezione
               font-size: $paragrafi_sezioni;
               
               line-height: 24px;
               
               text-align: justify;
               // margin-bottom: 36px;
            }
         }

         
      }
   }
}

@media all and (max-width: 1024px) {
   #about_us {
      .container-custom {
         p {
            // font sezione
            font-size: $paragrafi_sezioni_S;
            
            margin-bottom: 45px;
            
         }
      }
   }
}

@media all and (max-width: 768px) {}

@media all and (max-width: 480px) {
   #about_us {
      .container-custom {
         .cards {
            .imgdesk {
               display: none;
            }

            .imgmobile {
               display: inline-block;
            }
         }
      }
   }
}