@import './src/variabili.scss';

#about_us {
   background-color: $white;
   color: $green;
   padding: 100px 0 52px 0;
   /*fix*/
   position: relative; //per l'anchor link
   min-height: 100vh;

   .container-custom {
      .intestazione {
         // margini titolo sezione
         justify-content: space-between;
         align-items: center;
         margin-bottom: 36px;

         /*fix*/
         h2 {
            // scritta ABOUT US e margini
            min-width: 147px;
            font-size: $titoli_sezioni;
            letter-spacing: $letter-spacing;
            margin-right: 40px;
            /*fix*/
         }

         hr {
            // line
            width: 100%;
            background-color: $green;
            margin: 0;
         }

         img {
            // 5 slash dx
            height: 21px;
            /*fix*/
            margin-left: 40px;
            /*fix*/
         }
      }

      p {
         // font sezione
         font-size: $paragrafi_sezioni;
         /*fix*/
         line-height: $line-height-paragrafi_ALL;
         /*fix*/
         // word-spacing per correggere gli spazi vuoti
         word-spacing: 2px;
         /*fix*/
         text-align: justify;
         margin-bottom: 42px;
         /*fix*/
      }

      .cards {
         // striscia verde sotto (cancellata)
         width: 100%;
         margin-top: 30px;
         background-color: $green;
         padding-bottom: 35px;

         /*fix*/
         img {
            width: 100%;
         }

         .imgmobile {
            display: none;
         }
      }
   }
}

@media all and (max-width: 1024px) {
   #about_us {
      .container-custom {
         p {
            // font sezione
            font-size: $paragrafi_sezioni_S;
            /*fix*/
            margin-bottom: 45px;
            /*fix*/
         }
      }
   }
}

@media all and (max-width: 768px) {}

@media all and (max-width: 480px) {
   #about_us {
      .container-custom {
         .cards {
            .imgdesk {
               display: none;
            }

            .imgmobile {
               display: inline-block;
            }
         }
      }
   }
}