@import './src/variabili.scss';

nav {
	/* .nav_filler { // previene la navbar dal coprire elementi a inizio pagina
		width: 100%;
		height: $heightNav;
	} */
	position: fixed;
	top: 0;
	left: 0;
	height: 71px;
	width: 100%;
	z-index: 10;
	transition: background-color 0.4s;
	background-color: $green;

	.container-custom-nav {
		width: 90.5%;
		/*fix*/
		margin: 0 auto;

		.nav-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;

			.left-side {
				width: 100px;

				.logo {
					// contenitore logo gecko
					width: 95px;

					/*fix*/
					img {
						width: 100px;
						cursor: pointer;
						padding: 14px 0;
					}
				}

				align-items: center;
			}

			.right-side {
				align-items: center;

				.lingueSelector {
					margin-right: 3vw;

					button {
						border: none;
						background-color: red;
						padding: 0;
						margin: 0 1vw;
						max-height: 20px;

						img {
							max-height: 20px;
						}
					}
				}

				.nav-dropdown {
					display: block;
					width: 100%;

					&.active {
						left: 0;
					}

                    .flag{
                        height: 15px;
                    }

					a,
					span {
						// font in nav menù
						color: $gray;
						text-transform: uppercase;
						margin: 0 10px;
						font-size: 17px;
						/*fix*/
						letter-spacing: 0.07em;
						/*fix*/
						cursor: pointer;

						&:hover {
							text-decoration: underline;
						}
					}

					ul {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: space-evenly;

						li {
							// slash in nav menù
							margin-left: 17px;
							/*fix*/
							font-size: 17px;
							/*fix*/
							color: $gray;

							#caret-service {
								// freccia dropdown services menù
								font-size: 16px;
								/*fix*/
								transition: transform 0.4s;
								margin-left: 4px;
								/*fix*/
								cursor: pointer;

								&.rotate {
									transform: rotate(180deg);
									transition: transform 0.4s;
								}
							}
                            #caret-languages {
								// freccia dropdown services menù
								font-size: 16px;
								/*fix*/
								transition: transform 0.4s;
								margin-left: 4px;
								/*fix*/
								cursor: pointer;

								&.rotate {
									transform: rotate(180deg);
									transition: transform 0.4s;
								}
							}
						}
					}
                    // todo: se che tempo, tentare di raggruppare dropdown-service e dropdown-language
                    // in un unica classe dropdown e mettere le cose necessare al cambiamento 
                    // (probabilmente solo il fatto che sia display block o meno) nelle classi
                    // dropdown-service e dropdown-language
					.dropdown-services {
						// posizione dropdown-services desktop
						display: none;
						position: absolute;
						top: 25px;
						/*fix*/
						left: -17px;
						z-index: 20;

						&.servicesMenu {
							display: block !important; // se no non diventa visibile il menu a tendinda dei servizi. what a fuck
						}

						ul {
							width: 451px;
							padding: 15px;
							background-color: $green;
							color: $gray;
							list-style: none;
							flex-direction: column;

							li {
								// slash in dropdown services menù
								font-size: 17px;
								/*fix*/
								margin: 2.5px 0;

								&:hover {
									text-decoration: underline;
								}
							}
						}
					}

                    .dropdown-languages {
						// posizione dropdown-languages desktop
						display: none;
						position: absolute;
						top: 25px;
						/*fix*/
						left: -17px;
						z-index: 20;

						&.languagesMenu {
							display: block !important; // se no non diventa visibile il menu a tendinda dei servizi. what a fuck
						}

						ul {
							width: 451px;
							padding: 15px;
							background-color: $green;
							color: $gray;
							list-style: none;
							flex-direction: column;

							li {
								// slash in dropdown services menù
								font-size: 17px;
								/*fix*/
								margin: 2.5px 0;

								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}

				.hamburger {
					display: none;
					flex-direction: column;
					justify-content: center;
					cursor: pointer;
					width: 35px;

					div {
						// linee menù compresso smartphone
						background-color: $gray;
						height: 3px;
						width: 20px;
						margin-top: 3px;
						border-radius: 7px;
						margin-left: auto;
						transition: transform 0.4s;
					}

					// posizione iniziale
					.line1 {
						transform: rotate(-65deg)
							/*fix*/
							translate(-11px, -12px);
						/*fix*/
					}

					.line2 {
						transform: rotate(-65deg)
							/*fix*/
							translate(-2px, -7px);
						/*fix*/
					}

					.line3 {
						transform: rotate(-65deg)
							/*fix*/
							translate(7px, -2px);
						/*fix*/
					}

					.line1.active {
						transform: translateY(5px)
							/*fix*/
							rotate(45deg);
					}

					// posizione finale
					.line2.active {
						opacity: 0;
					}

					.line3.active {
						transform: translateY(-7px)
							/*fix*/
							rotate(-45deg);
					}
				}
			}
		}
	}
}

nav {
	ul {
		li {
			position: relative;
		}
	}
}

#servicesMenu {
	display: contents !important;
}

@media all and (max-width: 1024px) {
	nav {
		.container-custom-nav {
			width: 90.5%;

			/*fix*/
			.nav-content {
				.right-side {
					.nav-dropdown {
						position: absolute;
						top: 70px;
						width: 100%;
						left: -100%;
						text-align: center;
						transition: 0.3s;
						background-color: $white;
						box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
							0 1px 2px rgba(0, 0, 0, 0.24);
						height: calc(100vh - 70px);
						display: flex;
						justify-content: center;

						&.active {

							a,
							span {
								// font in menù smartphone
								color: $gray;
								font-size: 17px;
								/*fix*/
							}
						}

						ul {
							li {
								.dropdown-services {
									height: calc(100vh - 70px);
									width: 100%;
									transition: 0.3s;
									text-align: center;
									position: fixed;
									top: 70px;
									left: -100%;
									display: flex;
									justify-content: center;

									&.servicesMenu {
										display: block;
										left: 0;
									}

									ul {
										// dimensioni dropdown services menù smartphone
										// rispetto allo schermo
										width: 100%;
										height: 100%;

										hr {
											border-style: none;
											height: 1px;
											background-color: $gray;
										}

										li {
											a {
												// font dropdown services menù smartphone
												font-size: 17px;
												/*fix*/
											}
										}
									}
								}
							}
						}
					}

					.hamburger {
						display: block;
					}
				}
			}
		}
	}

	.nav-dropdown>ul {
		flex-direction: column;
		// distanziamento menù smartphone
		height: 60%;
		/*fix*/
		// justify-content: space-evenly;
	}

	.nav-dropdown>ul>li {
		border-bottom: 1px solid lightgrey;
		padding: 15px 0;
		margin: 0;
	}
}

@media all and (max-width: 768px) {
	nav {
		.container-custom-nav {
			width: 88.5%;
			/*fix*/
		}
	}
}

@media all and (max-width: 480px) {
	nav {
		.container-custom-nav {
			width: 83%;
			/*fix*/
		}
	}

	.nav-dropdown.active a {
		color: $gray;
		font-size: 15px;
	}
}