@import './src/variabili.scss';

#portfoliomore {
	min-height: 100vh;
	min-width: 100%;
	background-color: $gray;
	display: flex;
	justify-content: center;
	align-items: center;

	color: $white;
	padding: 100px 0 32px 0;
	
	position: relative; //per l'anchor link
	overflow: hidden;

	.container-custom {
		.intestazione {
			// margini titolo sezione
			justify-content: space-between;
			align-items: center;
			margin-bottom: 36px;

			
			h2 {
				// scritta ABOUT US e margini
				min-width: 147px;
				font-size: $titoli_sezioni;
				letter-spacing: $letter-spacing;
				margin-right: 40px;
                text-transform: uppercase;
				
				color: $white;
			}

			hr {
				// line
				width: 100%;
				background-color: $green;
				margin: 0;
			}

			img {
				// 5 slash dx
				height: 21px;
				
				margin-left: 40px;
				
			}
		}
		p {
			// font sezione
			font-size: $paragrafi_sezioni;
			
			line-height: $line-height-paragrafi_ALL;
			
			// word-spacing per correggere gli spazi vuoti
			word-spacing: 2px;
			
			text-align: justify;
			margin-bottom: 42px;
			
			color: $white;
		}
		.riga {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}

@media all and (max-width: 1024px) {
	#services {
		.container-custom {
			.riga {
				.col-md-8 {
					// meno padding
					padding-right: 8px;

					
					p {
						column-count: 2;
						
						column-gap: 25px;
						
						// font sezione
						font-size: $paragrafi_sezioni_S;
						
						line-height: 24px;
						
						margin-bottom: 34px;
						
					}
				}
			}
		}
	}
}

@media all and (max-width: 767px) {
	// ERRORE!!! sistemato da cani da me
	#services {
		.container-custom {
			.riga {
				flex-wrap: wrap;

				.col-md-8 {
					// leva padding
					padding-right: 0px;
					
					width: 100%;

					p {
						column-count: 1;
						
					}
				}
			}
		}
	}
}

@media all and (max-width: 480px) {
	#services {
		.container-custom {
			.riga {
				.col-md-8 {
					// leva padding
					padding-right: 0px;
					
				}
			}
		}
	}
}
