@import './src/variabili.scss';


// GENERAL CODE
.container-services {
  width: 100%;
  min-height: calc(100vh - 71px - 100px);
  margin-top: 65px;
  padding: 80px 0;
  display: flex;
  background-color: $gray;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .card-mover {
      color: $gray;
      width: 60%;
      position: relative;
      &:before {
        position: absolute;
        top: 9px;
        left: 97%;
        width: 100%;
        height: 100%;
        content: '';
        transform: skewY(45deg);
        transform-origin: 0 0;
      }
      &:after {
        position: absolute;
        top: 96%;
        left: -4px;
        width: 100%;
        height: 150%;
        content: '';
        transform: skewX(45deg);
        transform-origin: 0 0;
      }
      .card {
        width: 100%;
        height: 100%;
        --notchSize: 30px;                   /* from https://css-tricks.com/notched-boxes/ */
        clip-path:                              /* Notched Boxes or Notched Module */
        polygon(
          0% var(--notchSize),                /* top left */
          var(--notchSize) 0%,                /* top left */
          calc(100% - var(--notchSize)) 0%,   /* top right */
          100% var(--notchSize),              /* top right */
          100% calc(100% - var(--notchSize)), /* bottom right */
          calc(100% - var(--notchSize)) 100%, /* bottom right */
          var(--notchSize) 100%,              /* bottom left */
          0% calc(100% - var(--notchSize))    /* bottom left */
        );
        background-color: $white;
        position: relative;
        z-index: 999;
        padding: 60px 69px; /*fix*/
        
          .main-title {
              // blocco top
              margin-bottom: 28px; /*fix*/
              img {
                  // icona
                  margin-top: 2px; /*fix*/
                  height: 34px; /*fix*/
                  margin-right: 12px; /*fix*/
              }
              h2 {
                  // titolo card
                  font-family: $font-titolo;
                  font-size: $titoli_cardpage; /*fix*/
                  line-height: $line-height_t_cardpage; /*fix*/
                  text-transform: uppercase;
              }
          }
          .description {
              // primo paragrafo card
              font-size: $paragrafi_cardpage; /*fix*/
              line-height: $line-height_p_cardpage; /*fix*/
              text-align: justify;
              margin: 0;
          }
          .sidetext {
              margin: 40px 0; /*fix*/
              img {
                  object-fit: cover; /*fix*/
                  // // striscia sotto immagine (non usata)
                  width: 100%;
                  margin-top: 0px;
                  // background-color: #5CC69E;
                  // padding-bottom: 35px;
              }
              .text {
                  width: 100%;
                  margin: 0 0 auto 6.5%; /*fix*/
                  hr {
                      width: 100%;
                      // background-color: #5CC69E; // cambia colore
                      height: 1.5px;
                      margin-top: 4px;
                      margin-right: 0px;
                      margin-bottom: 28px;
                      margin-left: 0px;
                  }
                  h2 {
                      font-family: $font-body;
                      font-weight: normal;
                      font-size: $titoli_sezioni;
                      letter-spacing: $letter-spacing;
                      text-transform: uppercase;
                      margin-bottom: 24px; /*fix*/
                  }
                  p {
                      // paragrafo dx immagine
                      font-size: $paragrafi_cardpage; /*fix*/
                      line-height: $line-height_p_cardpage; /*fix*/
                      text-align: justify;
                  }
              }
          }
          p {
              margin: 0;
          }
          ul, .ul {
              margin-top: 5px;
              margin-right: 0px;
              margin-bottom: 30px;
              margin-left: 0px;
              li {
                  i {
                      margin-right: 5px;
                  }
              }
          }
          p {
            a {
              text-decoration: underline;
            }
            #get-touch.companies_green {
              color: $green;
            }
            #get-touch.content_orange {
              color: $orange;
            }
            #get-touch.design_dk_green {
              color: $dark-green;
            }
            #get-touch.full_gray {
              color: $gray;
            }
            #get-touch.individuals_el_green {
              color: $light-green;
            }
            #get-touch.marketing_red {
              color: $red;
            }
            #get-touch.continuous_yellow {
              color: $yellow;
            }
          }
      }
  }
}



.card-mover.companies_green:before, .card-mover.companies_green:after {
  background: $green;
}
.card-mover.content_orange:before, .card-mover.content_orange:after {
  background: $orange;
}
.card-mover.design_dk_green:before, .card-mover.design_dk_green:after {
  background: $dark-green;
}
.container-services.full_gray {
  background: $red;
  .card-mover.full_gray:before, .card-mover.full_gray:after {
    background: $gray;
  }
}
.card-mover.individuals_el_green:before, .card-mover.individuals_el_green:after {
  background: $light-green;
}
.card-mover.marketing_red:before, .card-mover.marketing_red:after {
  background: $red;
}
.card-mover.continuous_yellow:before, .card-mover.continuous_yellow:after {
  background: $yellow;
}




// .container-services.individuals_el_green {
//   hr {
//       color: $light-green; /*fix*/
//   }
//   h2 {
//       color: $light-green;
//   }
// }

// #get-touch.individuals_el_green {
//   text-decoration: underline;
//   color: $light-green;
// }

// .container-services.companies_green {
//   hr {
//       color: $green; /*fix*/
//   }
//   h2 {
//       color: $green;
//   }
// }

// #get-touch.companies_green {
//   text-decoration: underline;
//   color: $green;
// }

// .container-services.design_dk_green {
//   hr {
//       color: $dark-green; /*fix*/
//   }
//   h2 {
//       color: $dark-green;
//   }
// }

// #get-touch.design_dk_green {
//   text-decoration: underline;
//   color: $dark-green;
// }

// .container-services.continuous_yellow {
//   hr {
//       color: $yellow; /*fix*/
//   }
//   h2 {
//       color: $yellow;
//   }
// }

// #get-touch.continuous_yellow {
//   text-decoration: underline;
//   color: $yellow;
// }

// .container-services.content_orange {
//   hr {
//       color: $orange; /*fix*/
//   }
//   h2 {
//       color: $orange;
//   }
// }

// #get-touch.content_orange {
//   text-decoration: underline;
//   color: $orange;
// }

// .container-services.marketing_red {
//   hr {
//       color: $red; /*fix*/
//   }
//   h2 {
//       color: $red;
//   }
// }

// #get-touch.marketing_red {
//   text-decoration: underline;
//   color: $red;
// }

@media all and (max-width: 1024px) {
  .container-services {
      margin-top: 37px; /*fix*/
      .card-mover {
          width: 80%;
          .card {
              padding: 40px 50px; /*fix*/
              .main-title {
                  // blocco top
                  margin-bottom: 23px; /*fix*/
                  img {
                      // icona
                      margin-top: 3px; /*fix*/
                  }
                  h2 {
                      // titolo card
                  }
              }
              .sidetext {
                  flex-wrap: wrap; /*fix*/
                  img {
                      width: 100%; /*fix*/
                  }
                  .text {
                      margin-left: 0; /*fix*/
                      margin-top: 30px; /*fix*/
                  }
              }
          }
      }
  }
}

@media all and (max-width: 768px) {
  .container-services {
      margin-top: 30px; /*fix*/
      .card-mover {
          width: 90%;
          .card {
              padding: 43px 44px; /*fix*/
              .main-title {
                  // blocco top
                  margin-bottom: 23px; /*fix*/
                  img {
                      // icona
                      margin-top: 3px; /*fix*/
                      height: 30px; /*fix*/
                  }
                  h2 {
                      // titolo card
                      font-size: 37px; /*fix*/
                  }
              }
              .sidetext {
                  flex-wrap: wrap;
                  img {
                      width: 100%;
                  }
                  .text {
                      margin-left: 0;
                      margin-top: 30px;
                  }
              }
          }
      }
  }
}

@media all and (max-width: 480px) {
  .container-services {
      margin-top: 15px;
      .card-mover {
          width: 90%;
          .card {
              padding: 33px 23px; /*fix*/
              .main-title {
                  // blocco top
                  margin-bottom: 20px; /*fix*/
                  img {
                      // icona
                      margin-top: 1px; /*fix*/
                      height: 23px; /*fix*/
                  }
                  h2 {
                      // titolo card
                      font-size: 27px; /*fix*/
                  }
              }
              .description {
                  // primo paragrafo card
                  font-size: 14px; /*fix*/
                  line-height: $line-height_p_cardpage; /*fix*/
              }
              .sidetext {
                  margin: 32px 0; /*fix*/
                  flex-wrap: wrap;
                  img {
                      width: 100%;
                  }
                  .text {
                      margin-left: 0;
                      margin-top: 30px;
                      p {
                          // paragrafo dx immagine
                          font-size: 14px; /*fix*/
                          line-height: $line-height_p_cardpage; /*fix*/
                          text-align: justify;
                      }
                  }
              }
          }
      }
  }
}
