// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }



body {
  &.fixed {
      position: fixed;

      @media screen and (min-width: 1024px) {
          position: initial;
      }
  }
}

.flex {
  display: flex;
}
.container-custom {
  width: 90%;
  margin: 0 auto;
}
.transparent {
  background-color: inherit;
}
.visible {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  .logo h2 {
      text-shadow: none;
  }
  .nav-dropdown a {
      text-shadow: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
ul {
  margin-bottom: 0;
}

@media all and (max-width: 1024px) {
  .container-custom {
      width: 90%; /*fix*/
  }
}

@media all and (max-width: 768px) {
  .container-custom {
      width: 88%; /*fix*/
  }
}

@media all and (max-width: 480px) {
  .container-custom {
      width: 82%; /*fix*/
  }
}

@import './src/variabili.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  // font bottoni e altro
  font-size: 14px;  /*fix*/
  text-decoration: none;
  cursor: default;
  font-family: $font-body;
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

span[id].link {
  position: absolute;
  top: -70px;
  left: 0;
}

// per avere le pat agevolate al deploy(non in un server)
// <?php
// $app = config('version');
// if ($app['app'] == 'local'){
//     $envPath = '/';
// } else {
//     $envPath = '/public/';
// }
// ?>
//
// da sostituire al primo / dopo il .
// <?php echo $envPath ?>



