// Body new-mockup

// Typography new-mockup
$font-titolo: 'grotisque', sans-serif;
$font-body: 'Montserrat', sans-serif;
// NAVBAR
$sizeFont-navbar: 16px;
$letter-spacing: 2px; // per $sizeFont-navbar
// JUMBO
$titolo_jumbo: 46px;
$title-spacing: -0.025em; //
$titoli_sezioni: 23px; // e sottotitolo jumbo
$letter-spacing: 0.13em; // per $titoli_sezioni
// SEZIONI
$titoli_sezioni: 23.5px; // e sottotitolo jumbo
$letter-spacing: 0.10em; // per $titoli_sezioni
$paragrafi_sezioni: 20px;
// CARD
$card_title: 19.5px;
$line-height-card: 19px; // per $card_title
$card_paragraph: 14.5px;


// NUOVE VARIABILI /*fix*/
$paragrafi_sezioni_S: 19px;
$line-height-paragrafi_ALL: 23px;
$line-height-card_paragraph: 18px;

// CARD PAGES /*fix*/
$titoli_cardpage: 41px;
$line-height_t_cardpage: 0.9;
$paragrafi_cardpage: 16px;
$line-height_p_cardpage: 20px;


//colori new-mockup
$red: #F56E87;
$green: #5CC69E;
$light-green: #66FF99;
$dark-green: #386C72;
$orange: #FF9966;
$yellow: #F9D661;
$white: #E9F3F4;
$gray: #324056;



// per il nav filler
/* $heightNav: 70px; */