@import './src/variabili.scss';

.verdastro {
    background-color: $green;
}
.grigiastro {
    background-color: $gray;
}
footer {
    color: $white;
    text-align: center;
    .container-custom {
        padding: 20px 18px; /*fix*/
        position: relative;
        h2 {
            font-family: $font-titolo;
            font-size: 15px; /*fix*/
            margin-bottom: 15px; /*fix*/
        }
        p {
            font-size: 12px; /*fix*/
            line-height: 12px; /*fix*/
            margin: 5px; /*fix*/
        }
        .social{
            position: absolute;
            top: 40%;
            right: 15%;
            a{
                i{
                    color: $white;
                    cursor: pointer;
                }
            }
        }
    }
    .divider {
        // palette colori
        width: 100%;
        height: 7px; /*fix*/
        display: flex;
        div {
            width: calc(100%/8);
            height: 100%;
        }
        .red {
            background-color: $red;
        }
        .orange {
            background-color: $orange;
        }
        .yellow {
            background-color: $yellow;
        }
        .white {
            background-color: $white;
        }
        .light-green {
            background-color: $light-green;
        }
        .green {
            background-color: $green;
        }
        .dark-green {
            background-color: $dark-green;
        }
        .gray {
            background-color: $gray;
        }
    }
}

@media all and (max-width: 768px) {
    footer{
        .container-custom{
            .social{
                top: 25%;
            }
        }
    }
}